<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Selenium" verbose="1">
    <test name="framework-integrity">
        <classes>
            <class name="se.telenor.test.TracingutilTest"></class>
        </classes>
    </test>
    <test name="Other Regression">
        <classes>
            <class name="se.telenor.cucumber.CucumberOtherTestRunner"/>
        </classes>
    </test>
    <test name="Broadband Update Regression">
        <classes>
            <class name="se.telenor.cucumber.CucumberBroadbandUpdateTestRunner"/>
        </classes>
    </test>
    <test name="Mobile Update Regression">
        <classes>
            <class name="se.telenor.cucumber.CucumberMobileUpdateTestRunner"/>
        </classes>
    </test>
    <test name="Broadband Cancel Regression">
        <classes>
            <class name="se.telenor.cucumber.CucumberBroadbandCancelTestRunner"/>
        </classes>
    </test>
    <test name="Mobile Cancel Regression">
        <classes>
            <class name="se.telenor.cucumber.CucumberMobileCancelTestRunner"/>
        </classes>
    </test>
</suite>